<%= render partial: 'layouts/nav', locals: {curr: 'about'} %>
<div class="container">
	<h3><strong>About</strong></h3>
	<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit doloribus eveniet enim, neque quam ullam nam corporis odio earum illum, tenetur ratione sunt sint, dicta. Rerum veritatis inventore nostrum quas.</p>
</div>