<%= render partial: 'layouts/nav', locals: {curr: 'home'} %>
<div class="container">
	<h3><strong>Welcome</strong></h3>
	<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo ut, dignissimos beatae debitis accusantium facere veritatis sequi! Iusto at perferendis provident excepturi eligendi. Error aliquid at consequuntur soluta, placeat et!</p>
</div>