<%= render partial: 'layouts/nav', locals: {curr: 'map'} %>
<div class="container">
	<h3><strong>Map</strong></h3>
	<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum animi totam nam delectus optio quas sequi. Omnis fuga amet quae ipsum. Laboriosam veniam labore praesentium totam, quos incidunt iste autem.</p>
	<hr>
	<div id="map">
		
	</div>
</div>